@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

body {
  font-family: 'Poppins' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dfe7ee;


}

:root {
  --main-navbar-back: #030347;
  --nav-title-section-back: rgba(47, 163, 72, 0.589);
  --white: #fff;
  --black: #000;
  --gray: rgba(68, 68, 68, 0.432);
  --border-radius: 10px;
  --primary: rgb(10, 94, 133);
  --warning: #ed3d63;
  --secondary-nav-color: rgb(255, 255, 255);
  --body-content-bg: #f2f5f8;
  --scroll-back: rgba(10, 94, 133, 0.342);
  --border-color: #fff;
  --table-border: rgba(209, 209, 209, 0.377);
}


a {
  text-decoration: none;
}






/* body content*/

/* 
.custom-scroll {
  width: 73vw;
  height: 92.5vh;
  overflow-y: scroll;
}

.custom-scroll::-webkit-scrollbar {
  width: 0.7vw;
  border-radius: 50px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: var(--scroll-back);
  border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #226dcfa2;
} */


.body-content {
  margin: auto;
  width: 100%;
  margin-top: 10vh;

}

.default-flex {
  display: flex;
  align-items: center;
  justify-content: center;

}

/* main page content */
.main-content {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}


/* error page */
.error-page {
  height: 50vh;
  width: 50vw;
  margin: auto;
  margin-top: 50px;

  border: 2px solid var(--gray);
  border-radius: var(--border-radius);
}

.error-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;

  text-align: center !important;

}

.error-page-content h1 {
  font-size: 100px;
  color: var(--warning);
  font-weight: 700;
  pointer-events: none;

}

.error-page-content p {
  margin-bottom: 20px;

  font-size: 20px;
  pointer-events: none;
}


.horizontal-line {
  margin-bottom: 30px;

  background-color: var(--scroll-back);
  border: 1px solid var(--scroll-back);

}


@layer components{
  .admin-side-nav{
    @apply z-20 flex-shrink-0 block w-64 mb-10 overflow-y-auto bg-white rounded-tr-lg rounded-br-lg
  }
  .admin-sidebar-text{
    @apply flex items-center text-gray-700 cursor-pointer hover:font-bold
  }
  .active-admin-panel-marker{
    @apply absolute inset-y-2 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg
  }
  .admin-panel-marker{
    @apply absolute inset-y-2 left-0 w-1 rounded-tr-lg rounded-br-lg

  }
  .admin-sub-panel-body{
    @apply w-[80%] mx-auto bg-white rounded-lg h-auto p-4
  }
  .admin-panel-flex{
    @apply flex justify-between flex-col xl:flex-row
  }
  .admin-single-data-row{
    @apply mt-5
  }

  .row-commit-icon{
    @apply text-base
  }
  .hint-text{
    @apply text-gray-400 text-sm italic
  }

  .box-popup{
    @apply w-[400px] bg-slate-600 translate-x-1/2 translate-y-1/2
  }
  .delete-confirm-btn{
    @apply bg-red-400 rounded-md p-2 float-right text-white hover:bg-red-800
  }
}