.sub-body-content {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 20px;

    border-radius: var(--border-radius);
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}


.page-title {
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 25px;
    font-weight: 700;
}

/* page form */


.form-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 20px;
}

.form-left-section {
    width: 90%;
}

.form-right-section {
    width: 90%;
}

.input-field {
    width: 90%;
    margin-bottom: 20px;
}

.input-label {
    margin-bottom: 5px;
}

.flex-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-icon {
    font-size: 30px;
    cursor: pointer;
}

.form-icon:hover {
    color: var(--primary);
}

.items-container {
    width: 60%;
    margin-bottom: 20px;
    padding: 20px;
    padding-right: 10%;
    margin-left: 20px;
    background-color: var(--body-content-bg);
    border-radius: var(--border-radius);

}

@media screen and (max-width: 1024px) {
    body .form-flex {
        flex-direction: column;
    }

    body .form-left-section, body .form-right-section {
        width: 100%;
    }

    body .input-field {
        width: 100%;

    }
}