.nav-logo {
	width: 100px;
	height: auto;
}

/* main navbar */
.main-nav-bg {
	background-color: var(--main-navbar-back) !important;
}

.main-navbar {
	width: 100% !important;
	height: 70px !important;
	background-color: var(--main-navbar-back) !important;
	/* background-color: white !important; */
}

/* secondary navbar */

.sec-nav-bg {
	background-color: var(--secondary-nav-color);
}

.secondary-navbar {
	margin: auto;
	width: 95%;
}

.nav-flex-section {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}

.nav-flex-inside {
	margin-left: 5px;
	margin-left: 5px;
}

.nav-title {
	font-size: 15px;
	text-align: center;
	color: var(--white);
	font-weight: 600;
}

.nav-title-section {
	margin-left: 10px;
	margin-left: 10px;
	margin-bottom: 10px;

	border-radius: var(--border-radius);
	background-color: var(--nav-title-section-back);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	pointer-events: none;
	background-color: var(--main-navbar-back);
}

.nav-icon {
	width: 40px;
}

.nav-link {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-direction: column;
	align-items: center;

	width: 125px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 4px 8px 6px 8px;
	margin-bottom: 10px;
	min-height: 120px;

	border: none;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	text-align: center;
	border-radius: var(--border-radius);
	background-color: var(--white);
	outline: none;
	font-size: 14px;
}

.nav-link:hover {
	color: var(--pimary);
	cursor: pointer;
	box-shadow: rgba(81, 146, 177, 0.2) 0px 7px 29px 0px;
	background-color: rgb(254, 255, 205);
	border-bottom: 2px solid var(--warning);
}

.nav-link:active {
	color: var(--pimary);
	cursor: pointer;
	box-shadow: rgba(81, 146, 177, 0.2) 0px 7px 29px 0px;
	background-color: rgb(205, 248, 255);
	border-bottom: 2px solid var(--warning);
}

.nav-link-active {
	color: var(--pimary);
	cursor: pointer;
	box-shadow: rgba(81, 146, 177, 0.2) 0px 7px 29px 0px;
	background-color: rgb(205, 248, 255);
	border-bottom: 2px solid var(--warning);
}

/* secondary navbar ends here */

/* footer */
.footer {
	width: 100%;
	height: auto;
	/* margin-top: 40px; */
	padding-top: 40px;
	padding-bottom: 20px;

	/* background-color: var(--main-navbar-back); */
}

/* back to top */
.top-to-btm {
	position: relative;
}

.icon-position {
	position: fixed;
	bottom: 80px;
	right: 25px;
	z-index: 20;
}

.icon-style {
	background-color: var(--primary);
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	outline: none;
}

.icon-style:hover {
	animation: none;
	background: #fff;
	color: var(--primary);
	border: 2px solid var(--primary);
}

@media screen and (max-width: 1366px) {
	.nav-link {
		padding: 4px 4px 6px 4px;
		width: 100px;
		min-height: 100px;

		font-size: 12px;
	}

	.nav-icon {
		width: 35px;
	}
}
