* {
  margin: 0;
}

body {
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-navbar-back: #00003c;

}


.nav-logo {
  width: 100px;
  height: auto;
}

/* main navbar */
.main-navbar {
  background-color: var(--main-navbar-back) !important;
  width: 100% !important;
  height: 72px;

}

/* secondary navbar */
.secondary-navbar {
  margin-top: 10vh !important;
  margin: auto;
}

/* body content */
.body-content {
  margin: auto;
  width: 90%;
  margin-top: 7vh;

}

.sub-body-content {
  margin: auto;
  width: 90%;
  margin-top: 3vh;
}