* {
  margin: 0;
}

body {
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

:root {
  --main-navbar-back: #00003c;
  --nav-title-section-back: rgba(4, 70, 80, 0.616);
  --white: #fff;
  --black: #000;
  --gray: rgba(68, 68, 68, 0.432);
  --border-radius: 10px;
  --pimary: rgb(10, 94, 133);
  --warning: #ed3d63;
}


.nav-logo {
  width: 100px;
  height: auto;
}

a {
  text-decoration: none;
}


/* main navbar */
.main-navbar {
  background-color: var(--main-navbar-back) !important;
  width: 100% !important;
  height: 80px !important;

}



/* secondary navbar */
.secondary-navbar {
  margin-top: 10vh !important;
  margin: auto;
}

.nav-flex-section {
  display: flex;
  justify-content: center;
}

.nav-flex-inside {
  margin-left: 5px;
  margin-left: 5px;
}

.nav-title {
  font-size: 15px;
  text-align: center;
  color: var(--white);
  font-weight: 600;

}

.nav-title-section {
  border-radius: var(--border-radius);
  background-color: var(--nav-title-section-back);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.nav-icon {
  font-size: 30px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  margin-left: 10px;
  margin-left: 10px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4px 8px 6px 8px;
  margin-bottom: 10px;
  text-align: center;
  width: 125px;
  border-radius: var(--border-radius);
  background-color: var(--white);
  outline: none;
  height: 100px;

}

.nav-link:hover {
  color: var(--pimary);
  cursor: pointer;
  box-shadow: rgba(81, 146, 177, 0.2) 0px 7px 29px 0px;
  background-color: rgb(254, 255, 205);
  border-bottom: 2px solid var(--warning);

}


.nav-link:active {
  color: var(--pimary);
  cursor: pointer;
  box-shadow: rgba(81, 146, 177, 0.2) 0px 7px 29px 0px;
  background-color: rgb(205, 248, 255);
  border-bottom: 2px solid var(--warning);
}

.nav-link-active {
  color: var(--pimary);
  cursor: pointer;
  box-shadow: rgba(81, 146, 177, 0.2) 0px 7px 29px 0px;
  background-color: rgb(205, 248, 255);
  border-bottom: 2px solid var(--warning);
}

/* body content */
.body-content {
  margin: auto;
  width: 90%;
  margin-top: 10vh;

}



/* error page */
.error-page {
  border: 2px solid var(--gray);
  border-radius: var(--border-radius);
  height: 80vh;
}

.error-page-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}