* {
  margin: 0;
}

body {
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-navbar-back: #00003c;
  --nav-title-section-back: #454;
  --white: #fff;
  --black: #000
}


.nav-logo {
  width: 100px;
  height: auto;
}

/* main navbar */
.main-navbar {
  background-color: var(--main-navbar-back) !important;
  width: 100% !important;
  height: 80px !important;

}



/* secondary navbar */
.secondary-navbar {
  margin-top: 10vh !important;
  margin: auto;
}

.nav-flex-section {
  display: flex;
  justify-content: center;
}

.nav-flex-inside {
  margin-left: 5px;
  margin-left: 5px;
}

.nav-title {
  font-size: 15px;
  text-align: center;
  color: var(--white);

}

.nav-title-section {
  background-color: var(--nav-title-section-back);
}

/* body content */
.body-content {
  margin: auto;
  width: 90%;
  margin-top: 10vh;

}

.sub-body-content {
  margin: auto;
  width: 90%;
  margin-top: 3vh;
}